<div class="container">
	<h2>新規施設登録</h2>
		<div class="row">
						<%= form_for @facility do |s| %>
			<table class="table table-striped">
				<tr>
					<th>施設名</th><th><%= s.text_field :name %></th>
				</tr>
				<tr>
					<th>郵便番号</th><th><%= s.text_field :postal_code %></th>
				</tr>
				<tr>
					<th>施設住所</th><th><%= s.text_field :address %></th>
				</tr>
				<tr>
					<th>電話番号</th><th><%= s.text_field :phone %></th>
				</tr>
				<tr>
					<th>メールアドレス</th><th><%= s.text_field :email %></th>
				</tr>
				<tr>
					<th>地域</th><th><%= s.text_field :region %></th>
				</tr>
				<tr>
					<th>施設情報</th><th><%= s.text_area :explanation, class:"input-mysize-explanation" %></th>
				</tr>
				<tr>
					<th>チェックイン/チェックアウト時間</th><th><%= s.text_field :time %></th>
				</tr>
				<tr>
					<th>特集用</th><th><%= s.text_field :heading %></th>
				</tr>
			</table>
				<div class="image">
					<%= s.fields_for :images do |f| %>
						<%= render 'image_fields', f:f %>
					<% end %>
				<div class="links">
					<%= link_to_add_association '施設画像を追加する', s, :images %>
				</div>
			</div>
				<div class="room">
					<%= s.fields_for :rooms do |room| %>
						<%= render 'room_fields', f: room %>
					<% end %>
				</div>
				<div class="links">
					<%= link_to_add_association '部屋を追加する', s, :rooms %>
				</div>
			<%= s.submit '新しく施設を登録する' %>
			<% end %>
		</div>
</div>