<div class="container mypage-area">
	<h2>お客様情報</h2>
	<div class="row">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>名前</th><th><%= @enduser.name %></th>
				</tr>
				<tr>
					<th>郵便番号</th><th><%= @enduser.postal_code %></th>
				</tr>
				<tr>
					<th>住所</th><th><%= @enduser.address %></th>
				</tr>
				<tr>
					<th>電話番号</th><th><%= @enduser.tell %></th>
				</tr>
				<tr>
					<th>メールアドレス</th><th><%= @enduser.email %></th>
				</tr>
			</tbody>
		</table>
	</div>
	<h2>予約履歴</h2>
	<div class="row">
		<% @reservation.each do |f| %>
			<table class="table table-striped">
				<tr>
					<th>ご予約日</th><th><%= f.created_at.strftime("%Y-%m-%d") %></th>
				</tr>
				<tr>
					<th>施設名</th><th><%= f.room.facility.name %></th>
				</tr>
			</table>
		<% end %>
	</div>
		<div class="field">
			<%= link_to "お客様情報変更", edit_enduser_path(@enduser) %>
			<%= link_to "戻る", root_path %>
			<%= link_to "退会", enduser_path, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	</div>
</div>

