<!DOCTYPE html>
<html>
  <head>
    <title>PAX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h1>PAX</h1>
          </div>
          <div class="col-lg-8">
            <ul>
              <li><%= link_to "会員登録", new_enduser_registration_path %></li>
              <li><%= link_to "ログイン", new_enduser_session_path %></li>
              <li><%= link_to "マイページ", enduser_path(current_enduser.id) %></li>
              <li><%= link_to "ログアウト", destroy_enduser_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
      </div>
     </nav>
    </header>
    <%= yield %>
  </body>
</html>
